@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

/* Custom scrollbar for Kanban */
.minimal-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}
.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3); 
  border-radius: 10px;
}
.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5); 
}